.Login-main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/backgrounds/loginBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.Login-form{
    background-color: rgba(255, 255, 255, 0.643);
}
.switchClass{
    height: 5px;
    width: 10px;
}